.redirect
{

	width: 960px;
	margin: 0 auto;  
	max-width: 60em;

}

.table
{
	backgroung: #B8BBFF;
	border: 0.3em solid #576EFF;
	width: 110%;
	height: 110%;
}



h1
{
	text-align: center;
}

@media (max-width: 1280px){
 

   
   h1
   {
	 font-size: 200%;  
   }
   


    .redirect
	{
	height: 100%;
    overflow-x: hidden;

	}





}


 
 @media  (max-height: 721px) and (max-width: 1281px){
 
	

	
	h1
	{
		font-size: 250%;
	}

	
	

	
}
 
 @media screen and (max-width: 2000px){
	
    .redirect
	{
    width: 1140px;
	
	
 
	}
}