.redirect
{

	width: 960px;
	margin: 0 auto;  


}

.table
{
	backgroung-color: #B8BBFF;
	border: 0.3em solid #576EFF;
	width: 400px;
	height: 600px;
	margin: 0 auto;
}



h1
{
	text-align: center;
}

