
.container
{
	width: 1140px;
	margin: 0 auto;




   
	
}



h1
{
    font-family: Ubuntu, Arial;
	padding-right: 10px;
}

h2
{
	font-family: Ubuntu, Arial;
}

h3
{
	font-family: Ubuntu, Arial;
	
}

h4
{
	font-family: Ubuntu, Arial;
}

.letter
{
	background-color: #EA5454;
}


.ist
{
   background-color: #C4C2FF;
   text-decoration: none; /* Отменяем подчеркивание у ссылки */   
}

.vpr
{
   background-color: #C4C2FF;	
}

.ist2
{
     
	 background-color: #C4C2FF;
     text-decoration: none;
}


hr
{
	border: none; /* Убираем границу для браузера Firefox */
    color: #B8BBFF; /* Цвет линии для остальных браузеров */
    background-color:#B8BBFF; 
    height: 2px;


}





.dima
{
    margin: 0 auto;
    text-align: center;
    width: 40%;
    border: 0.2em solid #576EFF;
    background-color: #B8BBFF;
    transition: 0.3s;
	font-family: Arial;

}

   .dima:hover {
    background: #6B80FF;
	border: 0.2em solid #0020F0;

   }
    

	 @font-face {
    font-family: Ubuntu; /* Гарнитура шрифта */
    src: url(fonts/Ubuntu.ttf); /* Путь к файлу со шрифтом */
 }
 
@media screen and (max-width: 1080px){
 

   


    .container
	{
	padding: inherit; padding: 0 15px;
	}





}












 }



