
body
{
    background-color: #000000;
}
p
{
    font-family: Philophobia; 
    position: relative;
    z-index: 2;  
    bottom: 50px;
    font-size: 55px;
    color: red;
    animation-name: blink;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
}

@keyframes blink
{
    from
        {
            color: white;
        }
    to  
		{  
            color: red;
        }   
}


img
{
   width: 50%;
   height: auto;
   filter: invert(100%);
   animation-name: imgblink;
   animation-duration: 0.1s;
   animation-iteration-count: infinite;

}

@keyframes imgblink
{
    from
        {
             
			 filter: invert(100%);
			 opacity: 0.6;
        }
    to  
              {  
             
			 filter: invert(0%);
			 opacity: 0.3;
			 
        }   
}

.divimg
{
    z-index: 1;

    position: relative;
    bottom: 110px;
    
}

main
{
	text-align: center;
}
/*Заканчивается */
@font-face 
{ 
    font-family: Philophobia; 
    src: url(shr.ttf); /* Путь к файлу со шрифтом */ 
}