
.container
{
	width: 1140px;
	margin: 0 auto;
   
	
}

 

.letter
{
	background-color: #EA5454;
}

h1
{
	font-family: Arial;
	padding-right: 10px;
}

.ist
{
   background-color: #C4C2FF;
   text-decoration: none; /* Отменяем подчеркивание у ссылки */   
}

.vpr
{
   background-color: #C4C2FF;	
}

.ist2
{
     
	 background-color: #C4C2FF;
     text-decoration: none;
}



hr
{
	border: none; /* Убираем границу для браузера Firefox */
    color: #B8BBFF; /* Цвет линии для остальных браузеров */
    background-color:#B8BBFF; 
    height: 2px; 
}
