.container
{
	width: 1140px;
	margin: 0 auto;
}

.letter
{
	background-color: #F34242;
}

h1
{
	font-family: Arial;
}





hr
{
	border: none; /* Убираем границу для браузера Firefox */
    color: #B8BBFF; /* Цвет линии для остальных браузеров */
    background-color:#B8BBFF; 
    height: 2px; 
}
