
.container
{
	width: 1140px;
	margin: 0 auto;  
	max-width: 60em;
}

h1
{
    font-family: Ubuntu, Arial;
	padding-right: 10px;
	text-shadow: 3px 3px 4px rgba(150, 150, 150, 0.37);
	
	
    

}


body
{
	
	padding: 0;

	margin: 0;

}
h2
{
	font-family: Ubuntu, Arial;
}

h3
{
	font-family: Ubuntu, Arial;
	
}

h4
{
	font-family: Ubuntu, Arial;
}

.letter
{
	background-color: #EA5454;
}


.ist
{
   background-color: #C4C2FF;
   text-decoration: none; /* Отменяем подчеркивание у ссылки */   
}

.vpr
{
   background-color: #C4C2FF;	
}

.ist2
{
     
	 background-color: #C4C2FF;
     text-decoration: none;
}


hr
{
	border: none; /* Убираем границу для браузера Firefox */
    color: #B8BBFF; /* Цвет линии для остальных браузеров */
    background-color:#B8BBFF; 
    height: 2px;


}

.dima
{
    margin: 0 auto;
    text-align: center;
    width: 25em;
    border: 0.3em solid #576EFF;

    background-color: #B8BBFF;
    transition: 0.3s;
	font-family: Arial;
   -webkit-box-shadow: 0px 6px 5px 0px rgba(50, 50, 50, 0.81);
-moz-box-shadow:    0px 6px 5px 0px rgba(50, 50, 50, 0.81);
box-shadow:         0px 6px 5px 0px rgba(50, 50, 50, 0.81);
      -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
   -moz-border-radius-topright: 3px;
   -webkit-border-top-right-radius: 3px;
   border-top-right-radius: 3px;
   -moz-border-radius-bottomright: 30px;
   -webkit-border-bottom-right-radius: 30px;
   border-bottom-right-radius: 30px;
    -moz-border-radius-bottomleft: 30px;
   -webkit-border-bottom-left-radius: 30px;
border-bottom-left-radius: 30px;
	 

}

   .dima:hover {
    background: #6B80FF;
	border: 0.4em solid #0020F0;
	border-radius: 5px;

   }
    

	 @font-face {
    font-family: Ubuntu; /* Гарнитура шрифта */
    src: url(fonts/Ubuntu.ttf); /* Путь к файлу со шрифтом */
 }
 
@media screen and (max-width: 1020px){
 

   
   h1
   {
	 font-size: 140%;  
   }
   
   
   
   
   h2
   {
	font-size: 120%;
}




h3
{
	font-size: 79%;
	
}




h4
{
font-size: 15px;
}


    .container
	{
	height: 100%;
    overflow-x: hidden;
	width: 960px;
	}


p{
	font-size: 13px;
	font-family: Verdana;
}

pre
{
	font-family: Verdana;
	font-size: 180%;
}



b
{
	font-size: 20px;
}

.dima
{
	width: 80%;
	
}



}



 }

